PORT=8000
CORS_ORIGIN=*
MONGO_URL=mongodb+srv://varunkumarug23_db_user:PASSWORD@cluster0.roix7ot.mongodb.net
ACCESS_TOKEN_SECRET=token1
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=token2
REFRESH_TOKEN_EXPIRES_IN=10d